@media only screen and (min-width : 481px) {
   .flex-row.row {
	 display: flex;
	 flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
   }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
}

.flex-row .thumbnail,
.flex-row .caption {
  flex:1 0 auto;
  flex-direction:column;
}
.flex-text {
  flex-grow:1
}
.flex-row img {
  height:auto;
  width:100%
}

.dark-thumbnail {
    background-color: #000;
    border: 3px solid #333;
}

.dark-thumbnail h4 {
    color: wheat;
}

.dark-thumbnail p {
    color: #ccc;
}


h1 {
    color: wheat;
}

h2 {
    color: wheat;
}

h3 {
    color: wheat;
}

.over-image-text {
    text-shadow: 0px 0px 10px black;
}

.intro-text {
    font-size: 16px;
}

.logo-bg {
    padding: 50px 0;
    color: #fff;
    background: url(../img/logo-dark.jpg) no-repeat center center scroll;
    background-color: #000;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.soundcloud-iframe {
    border:none;
    overflow:hidden;
    margin:0;
    height:300px;
    width:100%;
}


.small-image {
    width: 180px;
    margin: 10px;
    text-shadow: 0px 0px 0px black;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.big-image {
    text-shadow: 0px 0px 0px black;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.shs-bar {
    background-image: url('/img/small-logo.png');
    background-repeat: no-repeat;
    background-position: left;
}
